<div class="welcome-container">
  <h1 class="welcome-title">ShopWith Rails</h1>
  <%= link_to 'Log In', login_path, class: 'btn btn-success' %> &#9733; <%= link_to 'Register', '/register', class: 'btn btn-success' %>
</div>