/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
  background-image: url('http://www.chrisslaight.com/dev/snow-background.jpg');
  background-position: center center;
	background-repeat: no-repeat;
	/* background-size: cover; */
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Lora', serif;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

.title-text {
  font-family: 'Lora', serif;
}

/* Header Box at top of each page */
.header-box {
  border: 1px;
  margin: 1.5em 20%;
  padding: 1em;
  background-color: rgba(34,167,240,.7);
  box-shadow: 3px 10px 7px #22A7F0;
}

/* Header box title text */
.header-box h1 {
  text-shadow: 0px 1px 12px white;
}

/* Each block element for a person in the list */
.person-list-item {
  border: 1px;
  margin: 1.5em 20%;
  padding: 1em;
  background-color: rgba(60,179,113,.7);
  box-shadow: 3px 10px 7px #3CB371;
}

/* The person's name in each block */
.person-list-name {
  font-size: 2em;
  font-family: 'Gloria Hallelujah';
}

/* Application-wide link style */
.app-link {
    border: 0px solid #F08080;
    background-color: #F08080;
    padding: .5em;
    border-radius: 4px;
}

/* Styling for each gift in list */
.gift-list-item {
  border: 1px;
  margin: 1.5em 20%;
  padding: 1em;
  background-color: rgba(173,216,230,.7);
  box-shadow: 3px 10px 7px #ADD8E6;
  word-wrap: break-word;
}

/* Styling for all form box elements */
.form-item {
  border: 1px;
  margin: 1.5em 20%;
  padding: 1em;
  background-color: rgba(89,171,227,.7);
  box-shadow: 3px 10px 7px #59ABE3;
}

/* The gift item name in each block */
.gift-list-name {
  font-size: 2em;
  font-family: 'Gloria Hallelujah';
}

/* Gift Form Styling */
#gift_item, #gift_store, #gift_cost, #person_name {
  font-size: 1.2em;
  font-family: 'Lora', serif;
  padding: .5em;
}

/* Specific style for toggle button */
#toggle-button {
  cursor: pointer;
}

/* Global button styling */
form input[type=submit] {
  font-size: 1.2em;
  border: 0px solid #F08080;
  background-color: #F08080;
  padding: .5em;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}



/* Responsive CSS Media Query for Mobile Devices */
@media only screen  
and (max-device-width : 375px) 
and (orientation : portrait) {
  
.header-box {
  margin: 1.5em 2%;
}

.person-list-item {
  margin: 1.5em 2%;
}

.gift-list-item {
  margin: 1.5em 2%;
}

.form-item {
  margin: 1.5em 2%;
}
  
}