/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
  /* background-image: url('http://www.chrisslaight.com/dev/paper-bg.jpg'); */
  background-color: #DFE2DB;
  background-position: center center;
	/* background-repeat: no-repeat;
	background-size: cover; */
  font-family: 'Hammersmith One', sans-serif;
  margin: 0 0 0 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Hammersmith One', sans-serif;
  /* display: inline-block; */
  cursor: pointer;
}

/* Welcome Page CSS */

.welcome-container {
  background-color: rgba(34, 167, 240, 0.7);
  box-shadow: 0px 0px 7px #22A7F0;
  margin: 5em 20%;
  padding: 3em;
}

.welcome-container a {
  padding: 2%;
  font-size: 1.5em;
  background-color: rgba(60, 179, 113, 0.7);
  box-shadow: 0px 0px 7px #3CB371;
}

.welcome-title {
  text-shadow: 0px 0px 16px white;
}

.title-text {
  font-family: 'Hammersmith One', sans-serif;
}

/* Header Box at top of each page */
.header-box {
  border: 1px;
  margin: 1.5em 20%;
  padding: 1em;
  background-color: rgba(34,167,240,.7);
  box-shadow: 0px 0px 7px #22A7F0;
  border-radius: 4px;
}

.header-nav, .header-nav-show, .header-nav-new, .header-nav-edit {
  background-color: rgba(34,167,240,.7);
  box-shadow: 0px 0px 7px #22A7F0;
  width: 100%;
	position: fixed;
	/* margin: 0 auto; */
	overflow: auto;
}

.header-nav-show {
  height: 10em;
}

.header-nav-new {
  height: 10em;
}

.header-nav-edit {
  height: 10em;
}

.navspacer { 
  padding-top: 10em;
}

.navspacer-show { 
  padding-top: 10em;
}

.navspacer-new { 
  padding-top: 10em;
}

.navspacer-edit { 
  padding-top: 10em;
}
  

/* Header box title text */
.header-box h1 {
  text-shadow: 0px 1px 12px white;
}

/* Each block element for a person in the list */
.person-list-item {
  border: 1px;
  margin: .5em 20%;
  padding: 0.5em;
  background-color: rgba(60,179,113,.7);
  box-shadow: 0px 0px 7px #3CB371;
  word-wrap: break-word; /* Fixes issue with display in rendering long names EDIT: doesnt really fix lol*/
  /* word-break: break-all;  Ok this actually fixes the problem */
  border-radius: 4px;
  font-size: 2em;
}

.person-list-item a {
  display: block;
}

.person-list-item:hover {
  background-color: rgba(0,200,113,.7);
}

.person-list-dates {
  font-size: 0.4em;
}

/* The person's name in each block 
.person-list-name {
  font-size: 2em;
  word-wrap: break-word;  Fixes issue with display in rendering long names 
   The below is for better visibility for Person names on the Index screen 
  background-color: #019875;
  border-radius: 4px;
  padding: .05em 1em;
  margin: 0px 10%;
}

.person-list-name a {
  display: block;
}

*/

/* Application-wide link style */
.app-link {
    border: 0px solid #F08080;
    background-color: #F08080;
    padding: .5em;
    border-radius: 4px;
    font-size: 1.2em;
    box-shadow: 0px 0px 6px #F08080;
}

.app-link:hover {
  background-color: #F64747;
}

/* Styling for each gift in list */
.gift-list-item {
  border: 1px;
  margin: 1.5em 20%;
  background-color: rgba(173,216,230,.7);
  box-shadow: 0px 0px 7px #ADD8E6;
  word-wrap: break-word;
  border-radius: 4px;
  padding: 0.3em;
}

/* Styling for each Purchased gift in list */
.gift-list-item-purchased {
  background-color: rgba(153,255,153,.7);
  box-shadow: 0px 0px 7px rgb(153,255,153);
}

/* Styling for each Non-Purchased gift in list */
.gift-list-item-not-purchased {
  background-color: rgba(255,153,153,.7);
  box-shadow: 0px 0px 7px rgb(255,153,153);
}

.gift-extra-data {
  display: none;
}

.gift-instructions {
  padding: 1em;
}

/* Styling for all form box elements */
.form-item {
  border: 1px;
  margin: 1.5em 20%;
  padding: 1em;
  background-color: rgba(89,171,227,.7);
  box-shadow: 0px 0px 7px #59ABE3;
  border-radius: 4px;
}

/* The gift item name in each block */
.gift-list-name {
  font-size: 2em;
  font-family: 'Hammersmith One', sans-serif;
}

.gift-list-item a {
  /* display: block; */
}

.gift-list-dates {
  font-size: 1em;
}

.gift-link {
  margin: 0 25%;
}

/* Gift Form Styling */
#gift_item, #gift_store, #gift_cost, #person_name, #gift_price, #username, #password, #user_username, #user_password {
  font-size: 1.2em;
  font-family: 'Hammersmith One', sans-serif;
  padding: .5em;
  border: 0px solid #22A7F0;
  background-color: white;
  box-shadow: 0px 0px 6px #22A7F0 inset;
  border-radius: 4px;
  -webkit-appearance: none;
}

/* Specific style for toggle button */
#toggle-button {
  cursor: pointer;
}

/* Global button styling */
form input[type=submit] {
  font-size: 1.2em;
  border: 0px solid #F08080;
  background-color: #F08080;
  padding: .5em;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 4;
  font-family: 'Hammersmith One', sans-serif;
  box-shadow: 0px 0px 6px #F08080;
}

form input[type=submit]:hover {
  background-color: #F64747;
}

/* Export functionality styling */

.export-pane {
  text-align: left;
  margin: 0 20%;
  background-color: white;
  padding: 0.5em;
}

.no-gifts {
  font-weight: 700;
  color: red;
}

.export-pane li {
  line-height: 1em;
}


/* Responsive CSS Media Query for Mobile Devices */
@media only screen  
and (max-device-width : 375px) 
and (orientation : portrait) {
  
/* Welcome Page CSS */

.welcome-container {
  margin: 3em 2%;
}

.welcome-container a {
  padding: 10%;
}
  
.header-box {
  margin: 1.5em 0%;
}

.person-list-item {
  margin: .5em 2%;
}

.gift-list-item {
  margin: 1.5em 2%;
}

.gift-list-name {
  font-size: 1.5em;
}

.gift-list-dates {
  font-size: 0.8em;
}

.gift-instructions {
  font-size: 0.8em;
}

.gift-link {
  margin: 0 5%;
}

.form-item {
  margin: 1.5em 0%;
}

.header-nav-show {
  height: 6em;
}

.navspacer { 
  padding-top: 9em;
}

.navspacer-show { 
  padding-top: 5.5em;
}

.header-nav-new {
  height: 4.5em;
}

.header-nav-edit {
  height: 6em;
}

.navspacer-new { 
  padding-top: 6em;
}

.navspacer-edit { 
  padding-top: 6em;
}
  

.title-text {
  font-size: 1em;
}

.title-text-small {
  font-size: .8em;
}

.export-pane {
  margin: 0 0%;
}

.small-link {
  font-size: 1em;
}

}