<!DOCTYPE html>
<html>
<head>
  <title>ShopWithRails</title>
  <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Lora:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p>Chris Slaight, 2015</p>
</body>
</html>
